<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
        <meta charset="utf-8">
        <meta name="description" content="">
        <meta name="author" content="Matija Lukic">
        <title>{% block title %}{% endblock %}</title>

        {% block stylesheets %}
            <link href="{{ url_for('static', filename='css/bootstrap.css') }}" rel="stylesheet">
            <link href="{{ url_for('static', filename='css/base.css') }}" rel="stylesheet">
            <link href="{{ url_for('static', filename='css/auth/login.css') }}" rel="stylesheet">
        {% endblock %}
    {% endblock %}
</head>

<body>

    <div class="container">

        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    {% if category == 'error' %}
                        <div class="alert alert-danger">
                            {{ message|safe }}
                        </div>
                    {% else %}
                        <div class="alert alert-warning">
                            {{ message|safe }}
                        </div>
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% endwith %}

        <form method="POST" enctype="multipart/form-data" class="row">

            <div class="offset-3 col-6">

                <div class="row mb-2">
                    <div class="offset-1 col-10">
                        <h2>Please register a new account</h2>
                        <hr>
                    </div>
                </div>

                <div class="row mb-2">
                    <div class="col-4 text-right">
                        First name:
                    </div>
                    <div class="col-8">
                        <input type="text" name="first_name" class="form-control" placeholder="First name"
                               value="{% if form %}{{ form['first_name'] }}{% endif %}"
                        >
                    </div>
                </div>

                <div class="row mb-2">
                    <div class="col-4 text-right">
                        Last name:
                    </div>
                    <div class="col-8">
                        <input type="text" name="last_name" class="form-control" placeholder="Last name"
                        value="{% if form %}{{ form['last_name'] }}{% endif %}"
                        >
                    </div>
                </div>

                <div class="row mb-2">
                    <div class="col-4 text-right">
                        Email:
                    </div>
                    <div class="col-8">
                        <input type="email" name="email" class="form-control" placeholder="Email"
                        value="{% if form %}{{ form['email'] }}{% endif %}"
                        >
                    </div>
                </div>

                <div class="row mb-2">
                    <div class="col-4 text-right">
                        Username:
                    </div>
                    <div class="col-8">
                        <input type="text" name="username" class="form-control" placeholder="Username"
                        value="{% if form %}{{ form['username'] }}{% endif %}"
                        >
                    </div>
                </div>

                <div class="row mb-2">
                    <div class="col-4 text-right">
                        Password:
                    </div>
                    <div class="col-8">
                        <input type="password" name="password" class="form-control" placeholder="Password"
                        value="{% if form %}{{ form['password'] }}{% endif %}"
                        >
                    </div>
                </div>

                <div class="row mb-2">
                    <div class="col-4 text-right">
                        Retype Password:
                    </div>
                    <div class="col-8">
                        <input type="password" name="confirm_password" class="form-control"
                               placeholder="Retype Password" value="{% if form %}{{ form['confirm_password'] }}{% endif %}"
                        >
                    </div>
                </div>

                <div class="row mb-2">
                    <div class="offset-9 col-3 text-right">
                        <input type="submit" class="btn btn-success" value="Login">
                    </div>
                </div>
                </div>

            </div>

        </form>
    </div>

</body>
