{% extends "base.html" %}
{% block title %}Travel Arrangements - Home{% endblock %}

{% block stylesheets %}
    {{ super() }}
{% endblock %}

{% block content %}

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                {% if category == 'error' %}
                    <div class="alert alert-danger">
                        {{ message|safe }}
                    </div>
                {% else %}
                    <div class="alert alert-warning">
                        {{ message|safe }}
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endwith %}

    Welcome {{ current_user.username }}
    <hr>
    <h1>Your profile data:</h1>
    <div class="row">
        <div class="col-6">
            <table class="table table-striped">
                <tbody>
                    <tr>
                        <th>Your name:</th>
                        <td>{{ current_user.first_name }} {{ current_user.last_name }}</td>
                    </tr>
                    <tr>
                        <th>Username:</th>
                        <td>{{ current_user.username }}</td>
                    </tr>
                    <tr>
                        <th>Email:</th>
                        <td>{{ current_user.email }}</td>
                    </tr>
                    <tr>
                        <th>Account type:</th>
                        <td>{{ current_user.account_type }}</td>
                    </tr>
                    {% if current_user.account_type != 'ADMIN' %}
                    <tr>
                        <th>Desired account type:</th>
                        <td>{{ current_user.desired_account_type }}</td>
                    </tr>
                    <tr>

                        {% if current_user.confirmed_desired_account_type == 'approve' %}
                            <td colspan="2" class="alert alert-success">
                            Desired account type is approved by admin.
                            </td>
                        {% elif current_user.confirmed_desired_account_type == 'reject' %}
                            <td colspan="2" class="alert alert-danger">
                            Desired account type is rejected by admin.
                            </td>
                        {% else %}
                            <td colspan="2" class="alert alert-info">
                            Desired account type is waiting to be resolved by Admin.
                            </td>
                        {% endif %}

                    </tr>
                    {% endif %}
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="2">
                            <a href="{{ url_for('main.edit_user_data', user_id=current_user.id) }}" class="btn btn-info">Edit profile data</a>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-8">
            {% if current_user.account_type != current_user.desired_account_type %}
                <div class="alert alert-warning">
                    You have asked to have permission for {{ current_user.desired_account_type }} account type. <br>
                    When ADMIN approve your request, you will have all permissions that have desired account type. <br>
                    Until than, you have default TOURIST account type permissions.
                </div>
            {% endif %}
        </div>
    </div>

{% endblock %}