{% extends "base.html" %}
{% block title %}Travel Reservations {% endblock %}

{% block stylesheets %}
    {{ super() }}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="{{ url_for('static', filename='css/bootstrap-datepicker3.min.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                {% if category == 'error' %}
                    <div class="alert alert-danger">
                        {{ message|safe }}
                    </div>
                {% else %}
                    <div class="alert alert-warning">
                        {{ message|safe }}
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endwith %}

    <h2>My reservations:</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Destination</th>
                <th>Start date</th>
                <th>End date</th>
                <th>Description</th>
                <th>Number of persons</th>
                <th>Price</th>
                <th>Travel guide</th>
            </tr>
        </thead>
        <tbody>
            {% for reservation in reservations %}
            <tr>
                <td>{{ reservation.arrangement.destination }}</td>
                <td>{{ reservation.arrangement.start_date.strftime('%d.%m.%Y') }}</td>
                <td>{{ reservation.arrangement.end_date.strftime('%d.%m.%Y') }}</td>
                <td>{{ reservation.arrangement.description }}</td>
                <td>{{ reservation.number_of_persons }}</td>
                <td>{{ reservation.price }}</td>
                <td>{{ reservation.arrangement.guide.first_name }} {{ reservation.arrangement.guide.last_name }}</td>
            </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td colspan="3">Showed {{ item_per_page }} item per page.</td>
                <td colspan="4">
                    <span class="pull-right">Page {{ reservations_page }}</span>
                </td>
            </tr>
            <tr>
                <td>
                    {% if reservations_has_prev and reservations_prev_url %}
                    <a href="{{ reservations_prev_url }}"><< Previous page </a>
                    {% endif %}
                </td>
                <td colspan="6">
                    {% if reservations_has_next and reservations_next_url %}
                    <a href="{{ reservations_next_url }}" class="pull-right">Next page >></a>
                    {% endif %}
                </td>
            </tr>
        </tfoot>
    </table>

    <br>
    <hr>

    <form action="{{ url_for('main.reservations') }}" method="GET" class="row">
        <div class="col-4">
            <h2>All travel arrangements</h2>
        </div>
        <div class="col-4">
            <div class="row">
                <div class="col-6">
                    <input type="text" name="start_date" class="form-control input-date" placeholder="Start date">
                </div>
                <div class="col-6">
                    <input type="text" name="end_date" class="form-control input-date" placeholder="End date">
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="row">
                <div class="col-8">
                <input type="text" placeholder="Destination..." name="destination" class="form-control">
                </div>
                <div class="col-2">
                    <button type="submit" class="btn btn-success"><i class="fa fa-search">Search</i></button>
                </div>
            </div>
        </div>
    </form>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Destination</th>
                <th>Start date</th>
                <th>End date</th>
                <th>Description</th>
                <th>Price</th>
                <th>Travel guide</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for arrangement in arrangements %}
            <tr>
                <td>{{ arrangement.destination }}</td>
                <td>{{ arrangement.start_date.strftime('%d.%m.%Y') }}</td>
                <td>{{ arrangement.end_date.strftime('%d.%m.%Y') }}</td>
                <td>{{ arrangement.description }}</td>
                <td>{{ arrangement.price }}</td>
                <td>{{ arrangement.guide.first_name }} {{ arrangement.guide.last_name }}</td>
                <td>
                    <a href="{{ url_for('main.create_reservation', arrangement_id=arrangement.id) }}" class="btn btn-info">Reserve</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td colspan="3">Showed {{ item_per_page }} item per page.</td>
                <td colspan="4">
                    <span class="pull-right">Page {{ arrangements_page }}</span>
                </td>
            </tr>
            <tr>
                <td>
                    {% if arrangements_has_prev and arrangements_prev_url %}
                    <a href="{{ arrangements_prev_url }}"><< Previous page </a>
                    {% endif %}
                </td>
                <td colspan="6">
                    {% if arrangements_has_next and arrangements_next_url %}
                    <a href="{{ arrangements_next_url }}" class="pull-right">Next page >></a>
                    {% endif %}
                </td>
            </tr>
        </tfoot>
    </table>

{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="{{ url_for('static', filename='js/bootstrap-datepicker.min.js') }}"></script>
    <script>
        $('.input-date').datepicker({
            format: "dd.mm.yyyy",
            weekStart: 1,
            todayBtn: "linked",
            clearBtn: true,
            orientation: "bottom",
            daysOfWeekHighlighted: "0,6",
            autoclose: true,
            todayHighlight: true
        });
    </script>
{% endblock %}