<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
        <meta charset="utf-8">
        <meta name="description" content="">
        <meta name="author" content="Matija Lukic">
        <title>{% block title %}{% endblock %}</title>

        {% block stylesheets %}
            <link href="{{ url_for('static', filename='css/bootstrap.css') }}" rel="stylesheet">
            <link href="{{ url_for('static', filename='css/base.css') }}" rel="stylesheet">
            <link href="{{ url_for('static', filename='css/font-awesome.min.css') }}" rel="stylesheet">
        {% endblock %}
    {% endblock %}
</head>

<body>

<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand d-none d-md-inline-block">
        <img src="" alt="LOGO" id="logo" style="height: 40px; margin-right: 1em">
    </a>

    <ul class="collapse navbar-collapse navbar-expand-md" id="togglerNav">
        <li class="nav-item">
            <a href="{{ url_for('main.index') }}">Home</a>
        </li>

        {% if current_user.account_type == 'ADMIN' %}
        <li class="nav-item">
            <a href="{{ url_for('main.admin_panel') }}">Admin panel</a>
        </li>
        {% endif %}

        {% if current_user.account_type in ['ADMIN', 'TRAVEL GUIDE'] %}
        <li class="nav-item">
            <a href="{{ url_for('main.arrangements') }}">All Arrangements</a>
        </li>
        {% endif %}

        {% if current_user.account_type in ['TRAVEL GUIDE'] %}
        <li class="nav-item">
            <a href="{{ url_for('main.travel_guide_arrangements', guide_id=current_user.id) }}">My arrangements</a>
        </li>
        {% endif %}

        {% if current_user.account_type == 'TOURIST' %}
        <li class="nav-item">
            <a href="{{ url_for('main.reservations') }}">Reservations</a>
        </li>
        {% endif %}

        <li class="nav-item">
            <a href="{{ url_for('auth.logout') }}"><i class="fas fa-sign-out-alt"></i> Log out</a>
        </li>
    </ul><!-- navbar-nav -->

</nav>

<div class="container">
    {% block content %}{% endblock %}
</div>

{% block scripts %}
    <script src="{{ url_for('static', filename='js/jquery-3.2.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
{% endblock %}
</body>
</html>
